.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: bisque;
    padding: 50px;
    border-radius: 20px;
}

.container{
    border: 2px solid black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

button{
    padding: 50px;
    background-color: aqua;
    font-size: 50px;
}

#szamlalo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 50%;
}