*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(104, 62, 62);
}

button{
    padding: 30px;
    background-color: aqua;
    font-size: 50px;
    height: 90px;
    width: 90px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

#szamlalo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 50%;
}